<launch>

    <node name="parma_setup" output="screen" pkg="lar_vision" type="lar_vision_parma_double_set">

        <param name="depth_topic_1" value="/asus1/depth/points"/>
        <param name="depth_topic_2" value="/asus2/depth/points"/>

        <param name="pose_topic_1" value="/asus1_pose"/>
        <param name="pose_topic_2" value="/asus2_pose"/>

        <param name="display_only_raw" value="0"/>

        <param name="hz" value="100"/>

        <param name="bounding_box_x_min" value="0.3"/>
        <param name="bounding_box_x_max" value="1.0"/>
        <param name="bounding_box_y_min" value="-0.5"/>
        <param name="bounding_box_y_max" value="0.5"/>
        <param name="bounding_box_z_min" value="0.01"/>
        <param name="bounding_box_z_max" value="0.3"/>

        <param name="endeffector_rotation_correction" value="0.6105"/>
        <param name="minimum_endeffector_z" value="0.05"/>
        <param name="minimum_endeffector_z_fromtop" value="0.25"/>

        <param name="camera_optical_correction_x" value="0.02"/>
        <param name="camera_optical_correction_y" value="0.0"/>
        <param name="camera_optical_correction_z" value="0.0"/>
        <param name="camera_optical_correction_roll" value="0.0"/>
        <param name="camera_optical_correction_pitch" value="0.0"/>
        <param name="camera_optical_correction_yaw" value="0.0"/>

        <param name="scene_correction_x" value="0.1875"/>
        <param name="scene_correction_y" value="-0.02"/>
        <param name="scene_correction_z" value="-0.05"/>
        <param name="scene_correction_roll" value="0.0"/>
        <param name="scene_correction_pitch" value="0.0"/>
        <param name="scene_correction_yaw" value="-1.57"/>

        <param name="thick_clusters" value="1"/>
        <param name="thick_clusters_size" value="10"/>
        <param name="thick_clusters_voxel_size" value="0.01"/>
        
        <param name="minimum_height_for_vertical" value="0.08"/>
        <param name="target_approach_distance" value="0.24"/>
        
        <param name="min_object_distance" value="0.09"/>
        <param name="min_area_for_tripod" value="0.0055"/>

    </node>



</launch>
